extends ../layout

block content
	div(class="show-container col-sm-10 col-sm-offset-1")
		h1 Add a new review
		form(action="/reviews/" method="POST" class="form-creation")
			label Name
			input(type="text" class="form-control" placeholder="Review's name" required)
			label Placetype
			input(type="text" class="form-control" placeholder="Reviews's place type" required)
			label Star(s) number
			input(type="number" class="form-control" placeholder="Give it a rate !" required)
			input(type="submit" class="add-button btn btn-info")

		div(class="alert alert-info" role="alert") Your review has been added !